/* #navigationBar{

  background-color: #5d5d5a;
  color: #ffa45c;
} */
.nav-link{
  color: #e8d3ff;
}
#try{
  margin-left:123
}
body{
  background-color: #fff4e3;
}
#last-icon{
  margin-right: 10em;
}
#patanisha-icon{
/* margin-right: 20em; */
